<div class="container">
  <div class="row">
    <div class="col-lg-7 pt-5">
      <h4>新規コメント</h4>
      <hr style="border-top: 1px solid #eee;">
      <%= render "form", comment: @comment, post: @post%>
    </div>
  </div>
</div>