<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-7 pt-5">
      <%= render "errors", comment: @comment %>
      <h4>新規コメント</h4>
      <hr style="border-top: 1px solid #eee;">
      <%= render "form", comment: @comment, post: @post %>
    </div>
  </div>
</div>