<div class="container-fluid p-0">
  <div class="background-image">
    <% if customer_signed_in? %>
      <div class="text-overlay d-flex flex-column justify-content-center align-items-center h-100">
        <h1>GolfMate</h1>
      </div>
    <% else %>
      <div class="text-overlay d-flex flex-column justify-content-center align-items-center h-100">
        <h1>GolfMateへようこそ！</h1>
        <p>アプリの主要な機能を体験してみましょう。</p>
        <p><%= link_to "ゲストログイン", customers_guest_sign_in_path, class: "btn-square", method: :post %></p>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-7 pt-5">
      <h4>投稿一覧</h4>
      <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>
</div>