<div class="container">
  <div class="row">
    <div class="col-md-4 d-flex ml-auto mb-2 mt-1">
      <%= render 'admin/search/customer_form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 pt-5">
      <h4>ユーザー一覧</h4>
      <%= render 'index', customers: @customers %>
    </div>
  </div>
</div>