<div class="container">
  <div class="row">
    <div class="col-md-4 d-flex ml-auto mb-2 mt-1">
      <%= render 'admin/search/post_form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 pt-5">
      <h4>投稿一覧</h4>
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>