@use '~bootstrap/scss/bootstrap';

.custom-black-link {
  color: black;
  text-decoration: none;
}

.border-b {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.carousel-image {
  max-width: 50%;
  margin: 0 auto;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}