@use '~bootstrap/scss/bootstrap';
header, nav, body {
  font-family: 'Noto Serif JP', sans-serif;
}

.custom-black-link {
  color: black;
  text-decoration: none;
}
.custom-red-link {
  color: red;
  text-decoration: none;
}

.border-b {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.carousel-image {
  max-width: 50%;
  margin: 0 auto;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

body {
    background-image: url('../images/golfbg.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

.body_item .container {
    background-color: rgba(228, 243, 221, 0.97);
    padding: 10px;
}

header {
  background-color: rgba(127, 173, 144, 1);
}

.post-card {
  margin-bottom: 5px;
  .post-header {
    display: flex;
    align-items: center;
  }
  .post-avatar {
    margin-right: 15px;
  }
  .post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

div.background-image {
  background: url('../images/golf11.png') no-repeat center center;
  background-size: cover;
  height: 400px;
  position: relative;
}

.text-overlay {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 3px;
}

.btn-square:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.flash {
  margin-left: 500px;
}
.calendar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.calendar-title {
  font-size: 1.5em;
  font-weight: bold;
}
.simple-calendar .table {
  width: 100%;
}

.simple-calendar th, .simple-calendar td {
  text-align: center;
  padding: 1rem;
}

.simple-calendar td {
  border: 1px solid #e0e0e0;
}

.td {
  margin-top: 0;
}