<div class="container">
  <div class="row">
    <div class="col-md-4 d-flex ml-auto mb-2 mt-1">
      <%= render 'search/customer_form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 pt-5">
      <h4>【<%= @content %>】を含むユーザー<%= @records.count %>件</h4>
      <%= render "public/customers/index", customers: @records%>
    </div>
  </div>
</div>